<%= render 'filter_bar' %>
<%= render 'filter_table' %>

<%= render 'index_list' do %>
  <%= render partial: 'index_item', layout: 'index_item_actions', collection: @rooms, as: :model %>
<% end %>

<%= paginate @rooms %>

<div
  data-controller="mask"
  data-action="click->mask#close"
  class="weui-mask-share"
  id="mask"
  style="display: none"
>
</div>