<td><%= model.name %></td>
<td><%= model.code %></td>
<td><%= model.floor %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'grids', room_id: model.id }, aria: { label: t('space.admin.grids.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-regular fa-grid-dividers"></i>
    <% end %>
    <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal', turbo_scroll: true }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm'), turbo_scroll: true } }) do %>
      <%= svg_tag 'trash' %>
    <% end %>
  </div>
</td>