<%= button_to({ action: 'destroy' }, method: :delete, class: 'cell has-column-centered', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
  <%= svg_tag 'trash' %>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'rooms', station_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'shop' %>
  <span><%= t('.rooms.index.title') %></span>
<% end %>
