<td><%= model.area&.full_name %></td>
<td><%= model.name %></td>
<td><%= model.detail %></td>
<td>
  <p><%= model.buildings_count %></p>
  <p><%= model.rooms_count %></p>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'buildings', station_id: model.id }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'building' %>
      <span class="ml-1"><%= t('.buildings.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'rooms', station_id: model.id }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'shop' %>
      <span class="ml-1"><%= t('.rooms.index.title') %></span>
    <% end %>
  </div>
</td>