<%= button_to({ action: 'destroy' }, method: :delete, class: 'cell has-column-centered', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
  <%= svg_tag 'trash' %>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<% if request.variant.include?(:mini_program) %>
  <button
    data-controller="mini-program"
    data-mini-program-nav-value="true"
    data-mini-program-url-value="/pages/print/index"
    data-mini-program-data-value="<%= { url: url_for(action: 'print_data', id: @desk.id, only_path: false) }.to_json %>"
    data-action="click->mini-program#link"
    class="button is-info"
  >
    <%= svg_tag 'print' %>
    <span>打印编码</span>
  </button>
<% else %>
  <%= button_to({ action: 'print' }, class: 'cell has-column-centered', form: { data: { action: 'click->weui-actionsheet#close' } }) do %>
    <%= svg_tag 'print' %>
    <span><%= t('space.admin.desks.print.title') %></span>
  <% end %>
<% end %>
<% if request.variant.include?(:mini_program) %>
  <div
    data-controller="mini-program"
    data-mini-program-nav-value="true"
    data-mini-program-url-value="/pages/share/index"
    data-mini-program-data-value="<%= model.share_info.to_json %>"
    data-action="click->mini-program#link"
    class="cell has-column-centered"
  >
    <%= svg_tag 'share' %>
    <span>分享</span>
  </div>
<% else %>
  <div
    data-controller="mask wx-share"
    data-mask-id-value="mask"
    data-wx-share-title-value="<%= current_organ.name %>"
    data-wx-share-desc-value="<%= "欢迎点餐，预定包房为：#{model.name}" %>"
    data-wx-share-link-value="<%= url_for(controller: 'factory/productions', desk_id: model.id, host: current_organ.host) %>"
    data-wx-share-image-value="<%= current_organ.logo.url %>"
    data-action="click->mask#show click->wx-share#ready"
    class="cell has-column-centered"
  >
    <%= svg_tag 'share' %>
    <span>分享</span>
  </div>
<% end %>