<%= render 'filter_bar' %>
<%= render 'filter_table' %>

<%= render layout: 'index_list' do %>
  <%= render partial: 'index_item', layout: 'index_item_actions', collection: @desks, as: :model %>
<% end %>

<%= paginate @desks %>

<div
  data-controller="mask"
  data-action="click->mask#close"
  class="weui-mask-share display-none"
  id="mask"
>
</div>